<link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap" rel="stylesheet">

<!-- Css Styles -->
<link rel="stylesheet" href="/assets/font_end/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="/assets/font_end/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="/assets/font_end/css/elegant-icons.css" type="text/css">
<link rel="stylesheet" href="/assets/font_end/css/flaticon.css" type="text/css">
<link rel="stylesheet" href="/assets/font_end/css/owl.carousel.min.css" type="text/css">
<link rel="stylesheet" href="/assets/font_end/css/nice-select.css" type="text/css">
<link rel="stylesheet" href="/assets/font_end/css/jquery-ui.min.css" type="text/css">
<link rel="stylesheet" href="/assets/font_end/css/magnific-popup.css" type="text/css">
<link rel="stylesheet" href="/assets/font_end/css/slicknav.min.css" type="text/css">
<link rel="stylesheet" href="/assets/font_end/css/style.css" type="text/css">


<app-nav></app-nav>

<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>Hotel</h2>
                    <div class="bt-option">
                        <a href="./home.html">Home</a>
                        <span>Hotel</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section End -->

<!-- Blog Section Begin -->
<section class="blog-section blog-page spad">
    <div class="container">
        <div class="row">
            <div  *ngFor="let dp of hotelList"  class="col-lg-4 col-md-6">
                <div class=" set-bg"  data-setbg="/assets/font_end/img/blog/blog-1.jpg"  >
                    <img src={{dp.imageHotel[0].imagePath}}>  
                </div>
                <div class="bi-text">
                    <span class="b-tag">Travel Trip</span>
                    <h4><a [routerLink]="['/our_rooms']" routerLinkActive="router-link-active" >{{dp.name}}</a></h4>
                    <div class="b-time"><i class="icon_clock_alt"></i>Số phòng: {{dp.room.length}} </div>
                </div>
            </div>
            
           
           
            
          
          
             
             
            <div class="col-lg-12">
                <div class="load-more">
                    <a href="#" class="primary-btn">Load More</a>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>



<script src="/assets/font_end/js/jquery-3.3.1.min.js"></script>
<script src="/assets/font_end/js/bootstrap.min.js"></script>
<script src="/assets/font_end/js/jquery.magnific-popup.min.js"></script>
<script src="/assets/font_end/js/jquery.nice-select.min.js"></script>
<script src="/assets/font_end/js/jquery-ui.min.js"></script>
<script src="/assets/font_end/js/jquery.slicknav.js"></script>
<script src="/assets/font_end/js/owl.carousel.min.js"></script>
<script src="/assets/font_end/js/main.js"></script>
